{{define "content"}}
<div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/IMGP1539.jpg" />
            <div class="row">
                <div class="col s12 m6 offset-m3 about-text-box">
                    <h1>About</h1>
                    <p>
                        I am a first-year professional software engineer who focuses in Java and full stack web development. My aspiration is to
                        create perfectly readable and orthogonally coded applications that are easily maintainable and scalable.
                        I enjoy the rigors of engineering great applications such as testing and error handling, and will
                        work for good coffee.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section white" id="Projects">
        <div class="row container">
            <h2 class="header center">Projects</h2>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <a href="http://codepen.io/nickstaggs/full/jVBNZW/"><img src="images/quotemachine.png"></a>
                        <div class="caption left-align">
                            <h5 class="black-text">JQuery</h5>
                            <h5 class="black-text">Materialize CSS</h5>
                        </div>
                    </li>
                    <li>
                        <a href="https://github.com/nickstaggs/WeatherApp"><img src="images/weatherapp.png"></a>
                        <div class="caption left-align">
                            <h5 class="white-text">JQuery</h5>
                            <h5 class="white-text">Materialize CSS</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="images/IMGP1712.jpg" />
            <div class="row">
                <div class="col s12 m6 offset-m3 about-text-box">
                    <p>
                        If you want to read more about me and my (mis)adventures in software engineering head over to my <a
                            href="/blog">blog</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}