<div class="section white center" id="Contact">
    <div class="row">
        <div class="col s3">
            <a href="https://github.com/nickstaggs"><img src="images/GitHub-Mark.png" alt="GitHub Link"></a>
        </div>
        <div class="col s3">
            <a href="http://codepen.io/nickstaggs/"><img src="images/codepen-logo.svg" alt="CodePen Link"></a>
        </div>
        <div class="col s3">
            <a href="https://www.linkedin.com/in/nickstaggs"><img src="images/lnbox.png" alt="LinkedIn Link"></a>
        </div>
        <div class="col s3">
            <a href="mailto:nick.c.staggs@gmail.com"><img src="images/gmail.png" alt="Gmail Link"></a>
        </div>
    </div>
</div>